<% provide(:title, 'Preguntas') %>
<h1>Preguntas que puedes responder</h1>

<% if @questions.empty? %>
 <h2>No hay preguntas cargadas para tus áreas de experiencia.</h2>
<% end %>

<ul class="questions">
	<% @questions.each do |q| %>
	<li>	
		<font size=4>
	  		<%= link_to q.title, user_question_path(q.user, q) %>
	  	</font>
	  <br>
	    <%= q.area.name %>
	    <% if q.level==1 %>
        - Urgencia Baja
        <% elsif q.level==2 %>
        - Urgencia Media
        <% else %>
        - Urgencia Alta
        <% end %>
        <br>
	  <span class="timestamp">
	    Realizada el <%= q.created_at.to_formatted_s(:short)%> .
	  </span>
	</li>
	<% end %>
</ul>
